<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather</title>
    <link rel="stylesheet" href="css/output.css" />
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
  </head>
  <body>
    <!-- navbar -->
    <div
      class="w-full max-w-screen-2xl mx-auto flex justify-between items-center h-20 px-8 sticky top-0 box-border  bg-blue-500 text-white"
    >
      <img
        src="images/logo-no-background.svg"
        alt=""
        class="object-cover max-w-[8rem] "
      />
      <div class="flex items-center justify-center gap-4 box-border  text-lg">
        <a href="/">Home</a><a href="/weather">Weather</a><a href="">About</a>
      </div>
    </div>
    <!-- end navbar -->

    <!-- main card -->
    <div class=" flex  justify-between px-[4rem] items-center max-w-screen-2xl box-border  h-[20rem] my-[5rem] mx-auto w-full  " >
        <div class="flex flex-col justify-center items-center box-border  h-full">
            <p>this {{i}} the website to check weather</p>
            <button class="bg-blue-500 max-w-[6rem] h-auto rounded-xl sm:self-center self-end text-white  box-border  p-3 m-3"> click me</button>
        </div>
        <div class=" "> 
            <img src="images/carousel_img2.jpg" class="  height-auto rounded-md box-border w-[20rem] lg:w-[40rem] max-w-[40rem] ring-1 ring-black aspect-auto shadow-lg bg-black object-contain   " alt="">
        </div>

    </div>
    <!-- main card end -->

    <!-- footer -->
    <div class="w-full flex items-center justify-around px-8 box-border    max-w-screen-2xl mx-auto bg-blue-500 h-[20rem] ">
        <img
        src="images/logo_white.png"
        alt=""
        class="object-cover max-w-[8rem] box-border  "
      />
      <div class="bg-black w-[.05rem] h-[7rem] box-border  "></div>
      <div>
        <p>created the website just to get around  express js</p>
        <p class="text-end">-RUSHI RGK</p>
      </div>

    </div>
    <!-- end footer -->
  </body>
</html>
